body {
    padding-top: 10px;
    padding-left: 20px;
    background-color: rgb(245, 214, 174);
}

img {
    width: 20%;
}

a {
    text-decoration: none;
}

nav{
    padding: 10px 25px;
    text-align: center;
    margin-left: -10%;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(169, 120, 55);
    font-size: 20px;
}

h1{
    margin-top: 100px;
}

iframe{
    margin-left: 45%;
    margin-top: -50%;
}

footer {
    padding: 10px 25px;
    text-align: center;
    margin-left: -10%;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: rgb(169, 120, 55);
    font-size: 15px;
}

#color1{
    color: rgb(255, 217, 186);
}

#color2{
    color: rgb(242, 147, 147);
}

#color3{
 color: rgb(240, 240, 166);
}

#color4{
    color: rgb(179, 179, 234);
}
#color5{
    color: rgb(190, 249, 190);
}
#color6{
    color: rgb(241, 241, 174);
}
